{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block heading %}Admin{% endblock %}

{% block content %}

<h1 class="lg:mx-20 my-4 leading-relaxed" style="font-size: x-large;">Users - </h1>

{% for user in user_list %}
<div>
    <h2 class="lg:mx-20 leading-relaxed"><b>User {{ user.id }}:</b></h2>
    <p class="lg:mx-20 leading-relaxed">Name: {{ user.name }}</p>
    <p class="lg:mx-20 leading-relaxed">Email: {{ user.email }}</p>

    {% if not user.name == "admin" %}
    <form action="#" method="POST" id="del_form">
        <button name="delete" value="{{ user.name }}"
                class="mx-20 mt-3 text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded text-lg">
            Delete !
        </button>
    </form>
    {% endif %}
    <br>

</div>

<script> var msg = "Do You Want To Delete This User?" </script>
{% endfor %}

{% endblock %}
