{% extends "base.html" %}

{% block title %}Content{% endblock %}
{% block heading %}Content{% endblock %}

{% block content %}

<p class="lg:w-2/3 mx-auto leading-relaxed text-base">
    Valorant (stylized as VALORANT) is a free-to-play hero shooter developed and published by Riot Games, for Microsoft
    Windows. First teased under the codename Project A in October 2019, the game began a closed beta period with limited
    access on April 7, 2020, followed by an official release on June 2, 2020. The development of the game started in
    2014.
</p>
{% endblock %}