{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block heading %}Home{% endblock %}

{% block content %}
<p class="lg:w-2/3 mx-auto leading-relaxed text-base">Hello There! This Is My Flask Project - A Full Stack Website,
    Where You
    Can Come And Signup, Login. To Get Started You Just Need To Signup And You Are Are Ready!. This Website Will Be
    Hosted On A Local Network For Home Use :)</p>

<br>

<p class="lg:w-2/3 mx-auto leading-relaxed text-base">You Just Need To SignUp To Get Access To Premium Valorant Content </p>
{% endblock %}